@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

header { 
    position: absolute; 
    top: 0px; 
    left:0; 
    width:100%; 
    padding: 10px 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #e9e8e6; 
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08); 
    z-index: 997; 
    padding: 10px 0;
    }
    
    header .logo {
    position: relative; 
    max-width: 400px;
    }
    
    header ul {
    position: relative; 
    display: flex;
    }
    
    header ul li {
    list-style: none; 
    }
    
    header ul li a {
    display: inline-block; 
    color: #333; 
    font-weight: 700; 
    margin-left: 10x; 
    margin-right: 30px; 
    text-decoration: none; 
    }
    
    header ul li a:hover {
    color: white;
    }
 

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #79797c, #3a393a);		
}

h1 {
    font-size: 30px;
    font-size: clamp(20px, 4vw, 40px);
    margin-top: 50px;
    font-weight: 800;
    text-align: center;
  }


.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    margin-top: 100px;
}

.screen {		
	background: linear-gradient(90deg, #79797c, #3a393a);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #9f9fa0;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #2a2a2b;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #9b9b9c, #6d6d6d);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #6d6d6d;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #000000;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #000000;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #9b9b9c;
	box-shadow: 0px 2px 2px #3a393a;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #58585c;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #aaaaad;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #1e1e1f;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}